footer {
    background-color: #ebc84b;
    font-size: 1.2rem;
    padding-left: 5px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p {
    color: #2a2a30;
    margin: 0;
    padding: 2px;
}

footer .icons {
    align-self: flex-end;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-right: 10px;
    margin-top: 4px;
}

footer svg {
    height: 24px;
    width: 24px;
    color: #2a2a30;
    padding-bottom: 1px;
}

@media (max-width: 430px) {
    footer p {
        font-size: 17px;
    }
}